.X {
     
    background-color:#2340d1;
    width: 240px;
    height: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    text-indent: 20px;

}

ul {

    display: flex;
    list-style: none;
    margin-top: 5px;
    margin-left: -50px;
    color: white;    

}

li {
    border-right: solid;
    padding-right: 20px;
    
}

.lorem {
    background-color: bisque;
    width: 240px;
    height: 150px;
    margin-top: -17px;
}