#Milkshake{
    text-align: center;
    background-color: purple;
    color: white;
}

#Smoothie{ 
    text-align: center;
    background-color: rgb(115, 144, 73);
    color: white;
   
}
#Soda{
    text-align: center;
    background-color: rgb(150, 65, 65);
    color: white;
}