#box1{
    background-color: aqua;
    color: white;
    font-size: 20px;
}

#box2{
    background-color: rgb(226, 45, 17);
    color: white;
    font-size: 20px;}


 #box3{
        background-color: rgb(29, 226, 42);
        color: white;
        font-size: 20px;
 }