.parent-background {
  background-color: rgb(231, 231, 231);
}
.parent-card {
  width: 250px;
  height: 500px;
  padding: 100px;
}

.parent-image img {
  border-radius: 5px;
  height: 300px;
  width: 250px;
  margin-bottom: 50px;
  background-color: white;
}

/* .parent-title {
    margin-top: -47px;
    margin-bottom: 50px;
    background-color: white;
    font-size: 10px;
} */

.parent-art {
  margin-top: -60px;
  background-color: rgb(255, 255, 255);
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: scroll;
  height: 200px;
}
.parent-art h1 {
  margin-bottom: 20px;
  margin-left: 15px;
}
.parent-art p {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #606060;
  margin-left: 15px;
  height: 80px;
}

.learnmore {
  font-size: 20px;
  border: none;
  color: white;
  background-color: rgb(255, 98, 14);
  height: 50px;
  border-radius: 10px;
  width: 130px;
  margin-left: 15px;
}
