section{
        background-color: #6b9080;
        color: #f6fff8;
        text-align: center;
        
}

.Align{
        font-size: 25px;
        text-align: center;
        background-color: blanchedalmond;
}

.Direction{
        font-size: 25px;
        direction: rtl;
        background-color: aqua;
        color: darkblue;
}

.Decoration{
        font-size: 25px;
        text-decoration: underline;
        background-color: rgb(165, 42, 130);
        color: greenyellow
        
}

.Transform{
    font-size: 25px;
    text-transform: uppercase;
    background-color: chocolate;
    color: antiquewhite;
}

.Spacing{
    font-size: 25px;
    background-color: cadetblue;
    letter-spacing: 5mm;
    color: aquamarine;
}

.Overflow{
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: crimson;
    color: white;
}

.Shadow{
    font-size: 25px;
    color: lime;
    text-shadow: 5px 5px;
    background-color: black;
}

