h3{
    color: blue;
}

h4 h5 h6 {

        color: brown;
        font-size: 20px;
        text-align: center}

section {

        background-color: aqua;
        color: blue;
        border: 3px solid;
        font
        
    }

    .container{

        display: flex;
        background-color: blue;
        
    }
    
    .Benjamin{
        border: 10px red solid
    }

    .Img{
        border: 30 red solid
    }
   