    /* LOGO,NICNKAME,TITTLE. */
.parent {
    margin-left: 100px;
    margin-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 1000px;
    
    
  
    
}

.parent-child {
    display: flex;
    margin-left: 20px;
   

 
}
.logo img {
    margin-top: 10px;
    width:60px;
    height: 60px;
    border-radius: 100px;
}
    

.parent-child p  {
  
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    margin-right: 80px;
}
.parent-child-text {
    margin-left: 10px;
}
.behindthatplace  {
    margin-top: -20px;
    font-weight: 200px;
    font-family: "Poppins";
    font-size: 13px;
    margin-left: 20px;

}

.botom {
   margin-top: 22px;
   
}

    /* IMAGE */
    .image-parent img {
        height: 300px;
        width: 405px;
        
    }   
    .DESC p {
        margin-top: -15px;
        margin-left: 20px;
        font-family: "Poppins";
        font-weight: 300;
        
    }
    .DESC h1 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 23px;
        margin-left: 20px;
    }

    .wahai {
        margin-left: 20px;
        overflow: scroll;
        height: 100px;

font-weight: 300;
font-family: "Poppins";    }

/* CARD 2 */

.second-parent {
    background-color: rgb(233, 233, 233);
    margin-left: 100px;
    border-radius: 10px;
    margin-right: 1040px;
    
}
.second-image {
   
    margin-left: 14px;

}
.second-image img {
    border-radius: 15px;
    margin-top: 14px;
    width: 334px;
    height: 220px;
    
}

.headline  {
    font-size: 20px ;
    font-family: "Poppins";
    margin-left: 20px;
    color: #16192C;
}
p {
  color: #425466;
  margin-left: 20px;
  font-family: "Poppins";
  font-size: 14px; 
  margin-bottom: 20px; 
}

.seemore {
    border-radius: 20px;
    background-color: #4C6FFF;
    margin-left: 20px;
    border: none;
    padding-top: 1px;
    padding: 1px;
    
    


}
.seemore p {
    color: white;
    margin-right: 20px;
}








/* CARD 3 */
.third-parent {
    margin-left: 100px;
    margin-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 1000px;
    border-radius: 20px;
    
    
  
    
}

.third-child {
    display: flex;
    margin-left: 20px;
 
   

 
}
.logo-third img {
    margin-top: 10px;
    width:60px;
    height: 60px;
    border-radius: 100px;
}
    

.third-child p  {
  
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    margin-right: 80px;
}
.third-child-text {
    margin-left: 10px;
}
.behindthatchild  {
    margin-top: -20px;
    font-weight: 200px;
    font-family: "Poppins";
    font-size: 13px;
    margin-left: 20px;

}

.above {
   margin-top: 22px;
   
}

    /* IMAGE */
    .image-parent-child img {
        height: 300px;
        width: 405px;
        margin-bottom :5px ;
       
        
    }   

.third-button {
    display: flex;
    justify-content: space-between;
    width: 400px;
    border: none;
    background-color: rgb(255, 255, 255);
    
   
    
}
.third-button img {
    width: 35px;
    background-color: white;
    margin-bottom:10px;
    margin-right: 20px;
    margin-left:  24px;

}

.komen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 25px;
}
 

.image-avatar {
   
    width: 60px;
    
}
.image-avatar img {
    width: 100%;
    margin-right: 20px;
    
}
input {
    height: 40px;
    border-radius: 50px;
    width: 250px;
    padding-left: 60px;
    /* margin-right: 40px; */
    border :solid #E0E0E0;
    
}
/* wqdqw */